
/* font-family: 'Merriweather', serif;-----Fuente para titulos y subtitulos*/
/* font-family: 'Open Sans', sans-serif;-----Fuente para párrafos */

.colores {
    color: #F2F2F2;
    color: #152C40;
    color: #06ADBF;
    color: #0D0D0D;
    color: #04BFBF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;

}

h1{
    font-family: 'Merriweather', serif;
    font-size: 1em; 
    color: #F2F2F2;
    letter-spacing: 1px;
}

h2, h3{
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}

h4, h5, h6{
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}
a{
    text-decoration: none;
}
/* Estilos del logo */
.logo img{
    width: 18%;
    padding-top: 2em;
}

header .container-fluid{
    background-color: rgba(21, 44, 64);    
}

/* separacion superior de los elementos del nav */
#navbarNav .nav-link{
    padding-top: 0;
    color: #F2F2F2;
}
header .col-6{
    padding-top: 2.7em;
}

/* estilo del boton responsive */
.navbar-toggler{
    margin-left: 8em;
    background-size: 80%;
    background-color: aliceblue;
}
.navbar-toggler-icon{
    width: 1em;
    height: 1em;
}

.navbar .col-6 button{
    margin-top: 0;
}


/* espacio entre el nav y la imagen del hospital/lo trae bootstrap */
#navbar{
    padding-bottom: 0;
}
/* estilo imagen debajo del nav */
.img_header img{
    width: 100%;
}

/* ********ESTILOS DEL MAIN/contenido - COPIAR HASTA AQUÍ*************/

.contenido{
    max-width: 1000px;
    width: 90%;
    margin: 2em auto;
    display: grid;
    gap:1.6em;
    grid-template-rows: repeat(5,1fr);    
}


/******* seccion valores******** */
.section_valores{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    
}
/* contenedor de cada item */
.val_item{
    width: 60%;
}
/* imagenes de seccion valores */
.section_valores img {
    width: 100%;
    border-radius: 50%;
}

.section_valores h2{
    font-size: 1em;
    text-align: center;
    color: #152C40;
    text-transform: uppercase;
    padding-top: 1em;
}



/********* ESTILOS DEL FOOTER - COPIAR A PARTIR DE AQUÍ *************/
footer{
    background-color: #03adc6;
}
footer p{
    margin: 0px; 
}

.contacto, .redes_group{
    margin-top: 2em;
}

footer ul, footer a{
    list-style: none;
    padding-left: 0%;
    margin: 0%;
}

.pie_pag{
    display: grid;
    max-width: 1000px;
    width: 90%;
    margin: 2em auto;
    gap:1.6em;
    grid-template-columns: repeat(3,1fr);
}


/* BREAKPOINTS */
@media screen and (max-width: 768px) {
    header h1{
        margin-bottom: 0;
        padding-top: 0.3em;        
    }
    header .navbar-toggler{
        margin-left: 8em;
    }

    .pie_pag{
        
    }



}

@media screen and (max-width: 992px) {
    header h1{
        margin-bottom: 0;
        padding-top: 0.3em;        
    }

    .navbar-toggler{
        margin-left: 15em;
    }  
}


/* Pendientes:
1. ¿Como centrar la lista de navegación del footer, que quede alineada a la izquierda junto al subtitulo
navegación?
2. No funciona el stiky debajo de la imagen del nav hacia abajo PORQUEEEEEEEE - MIERDAAAA?
3. El responsive del footer lo quiero hacer con grid area, o lo q salga. XD
4. Armar el main.



*/










